{% set python_path = '/var/lib/kolla/venv/lib/python2.7/site-packages' %}
{% set binary_path = '/var/lib/kolla/venv/bin' %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ octopus_api_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off

{% if octopus_logging_debug | bool %}
LogLevel info
{% endif %}

<VirtualHost *:{{ octopus_api_port }}>

  ErrorLog "/var/log/kolla/octopus/octopus-api-error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "/var/log/kolla/octopus/octopus-api-access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess octopus group=octopus processes={{ openstack_service_workers }} threads=1 user=octopus python-path={{ python_path }}
  WSGIProcessGroup octopus
  WSGIScriptAlias / "{{ binary_path }}/octopus-api"

  <Directory "{{ binary_path }}">
       <FilesMatch "^octopus-api$">
            Require all granted
       </FilesMatch>
  </Directory>

</VirtualHost>
